html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
th {
    vertical-align: middle!important;
}
.spinner, .saving-order {
    display: block;
    width: 100%;
    height: 20px;
    background: url('../img/loading.gif') no-repeat;
    background-size: contain;
}
.row-margin {
    margin: 15px 0 15px 0
}
.row-padding {
    padding: 15px 0 15px 0
}
.coauthors-list {
    width: 50%;
}
.site-login {
    width:50%;
    margin: 0 auto;
}
.coauthors-list li {
    list-style-type: none;
}
.article-list {
    margin: 0 auto;
    padding: 0;
    max-height: 700px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 5px 0 5px;
    border-left: none;
    border-right: none;
    transition: height .3s ease-in-out;
    -webkit-transition: height .3s ease-in-out;
    -moz-transition: height .3s ease-in-out;
    -o-transition: height .3s ease-in-out;
    -ms-transition: height .3s ease-in-out;
}
.articles-table {
    word-wrap: break-word;
    table-layout: fixed;
}
.article-list li {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(
         90deg,
         #337AB7 10px,
         #EEE 10px,
         #EEE 11px,
         transparent 11px);
    padding: 10px 15px 10px 25px;
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
}
fieldset.fieldset-style {
    font-family: Verdana, Arial, sans-serif;
    font-size: small;
    font-weight: normal;
    border: 1px solid #ccc;
    padding: 4px;
    margin: 15px 0 15px 0;
    border-radius: 4px;
}
legend.legend-style {
    font-size: 90%;
    color: black;
    background-color: transparent;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 14px;
    width: auto;
    border-bottom: 0px;
}
.article-profile {
    width: 100%;
    display: inline-block;
}
.article-tag {
    font-size: 85%
}
.comment-field {
    resize:none;
}
.blue-border-color {
    border-color: #337ab7;
}
.shadow-0 {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}
/*finder*/
.kcf-input-group .input-group {
    width: 100%;
    margin: 10px 0 10px 0;
}
.kcf-input-group .input-group .kcf-thumbs {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;s
}
.kcf-input-group .input-group .kcf-thumbs li img {
    width: 100%;
    /*height: 100%;*/
}
/*.current-thumbnail img {
    max-width: 60%;
    margin: 10px;
}*/
/*.input-group.date {
    width: 150px;
}*/

#earlier-appeal-form {
    padding: 10px
}
.inspection-label {
    font-weight: bold;
    font-size: 12pt;
    text-decoration: underline;
}

.inspection-fieldset legend {
    line-height: 60px;
}

.navbar-fixed-side-left {
  left: 0;
}
.navbar-fixed-side-right {
  right: 0;
}
.navbar-fixed-side {
  position: fixed;
  border-width: 0;
  z-index: 1030;
  min-height: 5px;
  min-width: 5px;
  max-width: 400px;
  margin-bottom: 0;
  border: 0px solid transparent;
}
.navbar-fixed-side .navbar-toggle {
  float: none;
  margin: 0;
}
.navbar-fixed-side .nav > li > a {
  width: 100%;
  padding: 5px;
}
.navbar-fixed-side .dropdown-menu > li > a {
  padding: 5px;
}
.navbar-fixed-side .dropdown-header {
  padding: 5px;
}
.navbar-fixed-side .navbar-nav {
  margin: 0;
}
.navbar-fixed-side .navbar-nav > li {
  float: none;
}
.navbar-fixed-side .navbar-nav > li > a {
  padding: 5px;
  line-height: 20px;
}
.navbar-fixed-side .navbar-nav .open .dropdown-menu > li > a,
.navbar-fixed-side .navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 3px 5px 3px 15px;
}
.navbar-fixed-side .container {
  width: 100%;
  padding: 0;
}
.navbar-fixed-side .navbar-header {
  float: none;
  margin: 0;
}
.navbar-fixed-side .navbar-collapse {
  padding: 0 2px;
}
.navbar-fixed-side .container .navbar-collapse {
  margin: 0;
}
.navbar-fixed-side .container .navbar-brand {
  margin: 0;
}
.navbar-fixed-side .navbar-brand {
  float: none;
  height: 100%;
  padding: 5px 3px;
  font-size: 18px;
  line-height: 20px;
}
#backtop {
  position: fixed;
  left:auto;left: 10px;top:auto;bottom: 10px;
  outline: none;
  overflow:hidden;
  color:#fff;
  text-align:center;
  background-color:rgba(49,79,96,0.84);
  height:40px;
  width:40px;
  line-height:40px;
  font-size:14px;
  border-radius:2px;
  cursor:pointer;
  transition:all 0.3s linear;
  z-index:999999;
  opacity:1;
  display:none;
}
#backtop:hover {
  background-color:#27CFC3;
}
#backtop.mcOut {
  opacity:0;
}
.full-width {
  width: 100%;
}
.card {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 10px 0 10px 0;
}
.inspection-list {
  padding: 0!important
}
